
body {
    min-height: 2000px;
    padding-top: 70px;
}
#navBar {
    position: fixed;
    top : 55px;
}
#containerForBody {
    margin-top: 100px;
    text-align: left;
    display: inline-block;
}
#errorBlock, #okBlock {
    /*padding-top:20px;*/
    position: fixed;
    top: 180px;
    width: 100%;
    text-align: center;
    z-index: 99;
}
#ViewTitle {
    padding-right: 10px;
}
.breadcrumb-item {
color: #fff;
}

.table-controls-legend {
    margin: 10px 0 5px 0;
    color: #3FB449;
    font-weight: bold;
    font-size: 16px;
}

.table-controls {
    margin-bottom: 10px;
    padding: 10px 5px 0 5px;
    background: #3a3f44;
    font-size: 14px;
}

    .table-controls input,
    .table-controls select,
    .table-controls button,
    .table-controls > span {
        margin: 0 5px 10px 5px;
    }

    .table-controls input,
    .table-controls select {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 4px 10px;
        border: 2px solid #3FB449;
        background: #fafafa;
        outline: none;
    }
    
::-webkit-scrollbar {
    width: 12px;
    background-color: #555;
    /*background-color: #F5F5F5;*/
}
/**  STYLE 1 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #1c1e22;
    /*background-color: #F5F5F5;*/
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
#containerForBody:-webkit-full-screen {
    overflow: scroll;
    height :100%;
    width: 100%;
}

